 @font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/permanentmarker/v16/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cfw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body{
  background-color: #131414;
  background-image: url("https://cdn.pixabay.com/photo/2017/05/30/08/31/heart-2356169_1280.png");
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
/* .my{
  margin-left: 1%;
  width: 40vw;
} */
.top{
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
  margin-top: 8%;
  margin-left: 8%;
}
.i{
  margin-top: 6%;
  width: 99.7vw;
}
.top-p{
  color: #0e67f5;
  text-align: center;
margin-left: 8%;
font-size: 1.5rem;
font-weight: bold;
}
a{
  color:#f76a8c;
}
h1{
  color: #d40913;
}
.btn{
  margin-top: 5%;
  margin-left: 5%;
  border: none;
  background-color: #f76a8c;
}
.btn:hover{
  background-color: #eb6383;
}
.def{
  color: #d40726;
  margin-left: 5%;
  font-size: 1.5rem;
  font-weight: bold;

}
input{
  border-radius: 5px;
  text-align: center;
margin-left: 4%;
  border: solid #f76a8c;
  color: #f76a8c;
  font-weight: bold;
  font-size: 1.5rem;
  height: 70px;
}
#nam1{
  font-size: 1.5rem;

  color: #c71b0f;
  margin-left: 5%;
}
#display_flame{
  margin-top: 2%;
  margin-left: 8%;
font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
}
 @media only screen and (max-width:768px) {
   .top{
     font-size: 2rem;
   }
   body{
     background-size: 500px 800px;
   }
 }

